.hier_count_table .table>tbody>tr.indent-0 td {            
    border-color: black;
}

.hier_count_table .table>tbody>tr.no-border th {            
    border-color: white;
}

.hier_count_table .table>tbody>tr.indent-1 td {            
    background-color: lightgray;
}

.hier_count_table tr.indent-0 span{
    font-weight: bold;    
    font-size: 2rem;    
}
.hier_count_table tr.indent-1 span {
    padding-left: 2em;
}

.hier_count_table tr.indent-2 span {
    padding-left: 4em;
}